[submodule "colin-blog/themes/hugo-coder"]
	path = colin-blog/themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "colin-blog/public"]
	path = colin-blog/public
	url = git@github.com:colin-riddell/colin-riddell.github.io.git
	branch = master
[submodule "colin-blog/colin-riddell.github.io"]
	path = colin-blog/colin-riddell.github.io
	url = git@github.com:colin-riddell/colin-riddell.github.io.git
[submodule "colin-blog/--name"]
	path = colin-blog/--name
	url = git@github.com:colin-riddell/colin-riddell.github.io.git
	branch = master
